BETTER_AUTH_SECRET=secret
DATABASE_URL=postgresql://user:password@host:port/database?sslmode=require

#TIKTOK
NEXT_PUBLIC_TIKTOK_SECRET=secret
NEXT_PUBLIC_TIKTOK_CLIENT_ID=client_id

#FACEBOOK
NEXT_PUBLIC_FACEBOOK_CLIENT_ID=client_id
NEXT_PUBLIC_FACEBOOK_SECRET=secret

#INSTAGRAM
NEXT_PUBLIC_INSTAGRAM_CLIENT_ID=client_id
NEXT_PUBLIC_INSTAGRAM_SECRET=secret

#APIs
NEXT_PUBLIC_FACEBOOK_URL=http://localhost:8080
NEXT_PUBLIC_INTEGRATION_URL=http://localhost:8081
