BETTER_AUTH_SECRET=secret
DATABASE_URL=postgresql://user:password@host:port/database?sslmode=require

#TIKTOK
TIKTOK_SECRET=secret
TIKTOK_CLIENT_ID=client_id

#FACEBOOK
FACEBOOK_CLIENT_ID=client_id
FACEBOOK_SECRET=secret

#INSTAGRAM
INSTAGRAM_CLIENT_ID=client_id
INSTAGRAM_SECRET=secret

#GOOGLE - YOUTUBE
GOOGLE_CLIENT_ID=client_id
GOOGLE_SECRET=secret

#APIs
NEXT_PUBLIC_FACEBOOK_URL=http://localhost:8080
NEXT_PUBLIC_INTEGRATION_URL=http://localhost:8081

#VERCEL BLOB CONFIG
BLOB_READ_WRITE_TOKEN="vercel_blob_key"

#IA
GEMINI_API_KEY="AWasdfSyDk1ThPQdp-RGdfs54FGi1e4EbqUQFwersVhyf"